.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}
.reply_section .media-body{
  display:inherit;
}

.comment_section .media-body{
  display:inherit;
}
.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}
.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #f9a901;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #007cdc;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #007cdc;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}
/*cuadros*/
 .cuad{
      font-size: 18px;
      background: green;
      border: 1px solid red;
      border-radius: 4px 4px 4px 4px;
    }
      .cuadros{
        text-align: center;
        font-size: 18px;
        height: 40px;
      }.cuadros:hover{
      	background: #007cdc;
      	color: #fff;
      }